.buttons {
    position: relative;
    display: grid;
    place-items: center;
    height: fit-content;
    width: fit-content;
    transition: 0.3s;
    border-radius: 50%;
  }

  .main-button {
    position: fixed;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: rgba(217, 217, 217);
    border-radius: 50%;
    transition: 0.2s;
    z-index: 100;

  }

  .button_logo {
    transition: all 0.5s ease;
    transform:rotate(0deg)
  }

  .main-button:hover .button_logo {
    transform: rotate(360deg)
  }

  .main-button:hover > .text_block {
    display: none;
  }
  
  .button {
    position: absolute;
    display: grid;
    place-items: center;
    padding: 10px;
    border: none;
    background: #e8e8e8;
    transition: 0.3s;
    border-radius: 50%;
  }
  

  
  .buttons:hover .discord-button {
    translate: 70px 0px;
  }
  
  
  .buttons:hover .twitter-button {
    translate: 47px -47px;
  }
  
  .buttons:hover .reddit-button {
    translate: 0px -70px;
  }

  
  .buttons:hover .messenger-button {
    translate: -47px -47px;
  }
  
  
  .buttons:hover .pinterest-button {
    translate: -70px 0px;
  }
  
  
  .buttons:hover .instagram-button {
    translate: -47px 47px;
  }
  
  
  .buttons:hover .snapchat-button {
    translate: 0px 70px;
  }
  
  
  .buttons:hover .whatsapp-button {
    translate: 47px 47px;
  }

  .btn_block {
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
  }

  .btn__title {
    width: 100%;
    color: #fff;
    font-weight: 300;
    height: 2rem;

    display: flex;
    justify-content: center;

    line-height: 20px;

    font-size: .6rem;
    
  }

 

  .ico {
    property: 50px;
  }