@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
  	background-attachment:fixed;
  	background-repeat: no-repeat;
 	background: linear-gradient(72deg, #000 -72.29%, #000 18.51%, #1447FB 113.17%);
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:active, 
a:hover, 
a {
  text-decoration: none;
  color: #fff;
}

.yc-menu__list-item {
  color: #fff;
}

* {
  overscroll-behavior-y: none;
  overscroll-behavior-x: none;
}

.yc-popup {
  transition: .5s;
  border: 1px solid rgba(20, 71, 251, 1);
  background: #000;

  border-radius: 1.2rem;
  padding: .5rem;
}




img {
  display: block;
  max-width: 100%;
  height: auto;
}

.wrapper {
  max-width: 1400px;
  margin: 0 auto;
}

.line:not(:first-child) {
  margin-top: 50px;
}

.item {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  flex: 1;
}

.item:not(:last-child) {
  margin-right: 2%;
}

.item__img {
  z-index: 2;
}

.item__img:not(:first-child) {
  margin-left: 5px;
}

.line {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  transition: opacity .3s ease-in-out;
}

.harmony {
  z-index: 3;
  position: absolute;
  width: 2.5px;
  background-color: red;
  height: 80px;
  left: 0;
  top: 0;
  transform: translateZ(0);
  transform-origin: 50% 0%;
}