.main {
    height: 100vh;
    overflow-y: auto;
    scroll-snap-type: y mandatory;
    -webkit-overflow-scrolling: touch;
}

.touch__section {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    font-size: 2rem;
    padding-top: 6rem;
    scroll-snap-align: start;
}

.main::-webkit-scrollbar {
    background-color: transparent;
}